<section class="card">
  <a href="/users/{{id}}">
    <header>{{first-name last-name}}</header>
    <img src="{{user-image}}" alt="Photo of user">
    <p>{{stack-type}}</p>
    <p>{{years-coding}}</p>
    <p>{{portfolio_url}}</p>
  </a>

</section>
