<div class="profile-container">
    <div>
        <img src="{{photo-url}}" alt="Photo of the user">
        <button id="upload_widget" class="cloudinary-button">Upload photo</button>
    </div>
    {{!-- pull data from signup.handlebars user values --}}
    <div>
        <h2>Welcome, {{username}}!</h2>

    </div>
    <div>
        <h3>A little bit about me</h3>
        <p>Occupation: {{role}}</p>
        <p>Stack specialty: {{stack-type}}</p>
        <p>Years of experience: {{years-coding}}</p>
        

    </div>
    <div>
        <h3>Contact Me</h3>
        <ul>
            <li>Email: {{email}}</li>
            <li>Portfolio: {{portfolio_url}}</li>
        </ul>
    </div>

</div>


<form class="profile-data">
    <div class="profile-form">
        <h2>Input Developer info here!</h2>
        <div class="form-data">
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName">
        </div>
        <div class="form-data">
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" id="lastName">
        </div>
        
        <div class="form-data">
            <label for="yearsExp">Years Coding:</label>
            <select name="yearsExp" id="yearsCoding">
                <option value="1">1+</option>
                <option value="3">3+</option>
                <option value="5">5+</option>
                <option value="10">10+</option>
                <option value="15">15+</option>
                <option value="20">20+</option>
            </select>
        </div>
        <div class="form-data">
            <label for="stackType">Choose a stack type:</label>
            <select name="stackType" id="stackType">
                <option value="frontend">Front-End Development</option>
                <option value="backend">Back-End Development</option>
                <option value="full-stack">Full-Stack Development</option>
            </select>
        </div>
        <div class="form-data">
            <label for="portfolio_url">Portfolio URL:</label>
            <input type="text" name="portfolioUrl" id="portfolioUrl">
        </div>
        <div class="form-data">
            <label for="profie-pic">Upload a profile pic:</label>
            <input type="text" name="photoUrl" id="photoUrl">
        </div>
        
    </div>
    <button type="submit">Submit</button>
</form>
   
<script src="/js/profile.js"></script>

 {{!-- <aside class="dropdown-menu">
        <select name="code-languages" id="code-languages" multiple>
            <option value="">Select your code languages:</option>
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="C++">C++</option>
            <option value="Nodejs">Nodejs</option>
            <option value="SQL">SQL</option>
            <option value="Express">Express</option>
            <option value="React">React</option>
            <option value="AI">AI</option>

        </select>
    </aside> --}}
